html, body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 5px;
}

/* To change the height of the map, change this */
#mapdiv {
  height: 600px;
}

#map {
  height: 100%;
}

/* This is so that list of places don't have bullets next to them. */
#placelist{
  list-style-type: none;
}